@import url('https://fonts.googleapis.com/css?family=Lora|Cinzel');

@keyframes color {
  0%   { background: #e2fdfd; }
  20%  { background: #e8fde2; }
  40%  { background: #fdf4e2; }
  60%  { background: #e2e3fd; }
  80%  { background: #e2e3fd; }
  100% { background: #e2fdfd; }
}

body {
  font-family: 'Lora', serif;
  background: #e2fdfd; /* Fallback */
  animation: color 30s infinite linear;
  text-align: center;
  padding: 2em;
}

/*body {*/
  /*font-family: 'Lora', serif;*/
/*}*/

.home__title {
  margin-top: 25px;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.home__content {
  font-size: 22px;
  margin-bottom: 25px;
  text-align: center;
}
.home__content__pitch {
  line-height: 1.75;
}

.home__projects a {
  color: black;
}
.home__projects a:hover, .home__projects a:focus {
  text-decoration: none;
}

.project {
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 5px;
  display: block;
  height: 250px;
  max-width: 500px;
}
.project__title {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}
.project__description {
  font-size: 18px;
  line-height: 2;
  text-align: center;
}
.project__footer {
  font-size: 18px;
  margin-top: 20px;
}
.project:hover {
  cursor: pointer;
}
.project .teaser {
  font-size: 14px;
}

.project.yo-self {
  background: #bfe8eb;

}
.project.yo-self:hover {
  background: #d5f5f7;
}

.project.yo-meals {
  background: #d3ebbf;
}
.project.yo-meals:hover {
  background: #e1f1d3;
}

.project.yo-household {
  background: #f7c87a;
}
.project.yo-relationships:hover {
  background: #e5d7f1;
}
.project.yo-relationships {
  background: #ccb0e3;
}
.project.yo-entertainment {
  background: #f3a58b;
}
.project.yo-events {
  background: #efea8e;
}

.project__description {
}

.page-footer {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 1199px) {
  .project {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .project {
    height: auto;
  }
}
